@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --cor1: hsl(0, 0%, 100%);
    --cor2: hsl(212, 45%, 89%);
    --cor3: hsl(220, 15%, 55%);
    --cor4: hsl(218, 44%, 22%);
    --font-principal: 'Outfit', sans-serif;
}


body {
    background-color: var(--cor2);
    font-family: var(--font-principal);
    position: relative;
    width: 100vw;
    height: 100vh;  
}

#image {
    width: 92%;
    height: 50%;
    background: url(../images/image-qr-code.png) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
}

#container {
    border-radius: 15px;
    position: absolute;
    background-color: var(--cor1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19vw;
    height: 70vh;
    text-align: center;
}

p {
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

#text1 {
    color: var(--cor4);
}

#text2 {
    color: var(--cor3);
}

.attribution {
    font-size: 11px;
    margin: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}